.logo{
    width: 6rem;
    height: 5rem;
    position: relative;
    top: 0px;
    left: 0px;
}
header{
    max-width: 100%;
    position:fixed-top;
    display: flex;
    justify-content: space-between;
}
nav{
    display: flex;
   text-align: end;
}
.na-link{
    text-decoration: none;
    color: black;
    display: flex;
}
ul li {
display: flex;
flex-direction: row;
}